html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

@font-face {
    font-family: konstanting;
    src: url('./17731.ttf');
}

.wrap {
    background: url(./clouds.jpg);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font: 65px konstanting;
}

.inner {
    background-color: #6bbaf0;
    height: 500px;
    width: 250px;
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #180158;
    font-weight: bold;
    font-size: 50px;
}

.temp {
    color: #ad0000;
}
.weather {
    font-size: 30px;
    text-align: center;
}